#stadium{
    height: 303px;
}

div#trends {
    width: 48%;
    height: 270px;
    float: left;
}
div#trendsPicker {
    width: 4%;
    height: 270px;
    float:left
}
div#bars {
    margin-left: 54%;
    height: 270px;
}

img{
   
    cursor: pointer;
    vertical-align: middle;
}

.glyphicon{
    cursor: pointer;
}

.circle:hover{
    cursor: pointer;
}

.base:hover{
    cursor: pointer;
}

#pitchers-plate:hover{

    cursor: pointer;
}

#pitchers-mound:hover{
    cursor: pointer;
}

#Teams{

    width:100%;
}

#logo{
    cursor: default;
}

#AmericanLeague{
    float:right;
    width:17%;
}

#NationalLeague{

    float:left;
    width:17%;
}

#AllTeams{
    margin:0 auto;width:11%;
}

.NLDivision{
    float: left;
}

.ALDivision{
    float:right;
}

#Central{
    margin-left: 10px;
    margin-right: 10px;
}



h2{
    text-align: center;

}

h5{
    text-align: center;
}

#field{ 
    position:absolute;
    top:52px;
    left:326px;
    height:350px;
    width:350px;
    border-radius:1% 100% 1% 1%;
    border:1px solid green;
    background-color:green;
   -webkit-transform: rotate(-45deg);
}
#in-field{ 
    position:absolute;
    top:172px;
    left:387px;
    height:225px;
    width:225px;
    border-radius:1% 50% 1% 1%;
    border:1px solid: #836539; /*#9b7653; */
    background-color:#836539; /*#9b7653;*/
   -webkit-transform: rotate(-45deg);
}
#base-lines{
    position:absolute;
    top: 23px;
    left: 332px;
    height:335px;
    width:335px;
    border-left:2px solid white;
    border-bottom:2px solid white;
    -webkit-transform: rotate(-45deg);
}
#in-field-grass{
    position:absolute;
    top: 251px;
    left: 433px;
    height:130px;
    width:130px;
    border:2px solid green;
    background-color:green;
    -webkit-transform: rotate(-45deg);
}
.base{
    position:absolute;
    height:13px;
    width:13px;
    -webkit-transform: rotate(-45deg);
    border:1px solid white;
    background-color:white;
}

.circle{
    position:absolute;
    border-radius:100% 100% 100% 100%;
    

}

#first-base{
    top:296px;
    left:608px;

}

#second-base{
    top:191px;
    left:492px;
}

#shortstop{
    top:222px;
    left:416px;
    border-radius:100% 100% 100% 100%;

}

#on-deck{
    height:40px;
    width:40px;
    
    top:532px;
    left:401px;

    border:1px solid #836539;
    background-color:#836539;
}

#third-base{
    top:296px;
    left:380px;
}
#home-plate{
    position:absolute;
    height:9px;
    width:10px;
    top:431px;
    left:494px;
    border:1px solid white;
    background-color:white;
     -webkit-transform: rotate(45deg);
}


#outfield{
    top:138px;
    left:492px;
    border-radius:100% 100% 100% 100%;

}
#pitchers-mound{ 
    position:absolute;
    top:292px;
    left:473px;
    height:50px;
    width:50px;
    border-radius:100% 100% 100% 100%;
    -webkit-transform: rotate(-45deg);
     border:1px solid #836539;
    background-color:#836539;
}
#pitchers-plate{ 
    position:absolute;
    top:315px;
    left:490px;
    height:5px;
    width:16px;
    border:1px solid white;
    background-color:white;
}


.batters-box{
    position:absolute;
    height:15px;
    width: 5px;
    border:2px solid white;
    background-color:#836539;
    outline: 2px solid #836539;
}
#batters-box-right{
    top:427px;
    left:509px;
}
#batters-box-left{
    top:427px;
    left:481px;
}

#batting-circle{ 
    position:absolute;
    top:412px;
    left:475px;
    height:52px;
    width:52px;
    border-radius:100% 100% 100% 100%;
   -webkit-transform: rotate(-45deg);
     border:1px solid #836539;
    background-color:#836539;
}

#on-deck{
    position:absolute;
    top:414px;
    left:547px;
    height:40px;
    width:40px;
    border-radius:100% 100% 100% 100%;
    border:1px solid #836539;
    background-color:#836539;
}


.grass{
     background-color: #ac0;
   
}

#viewport{
    position: relative;
    overflow: auto;
    top: 20px;
    left: 600px;
    width: 280px;
    height: 280px;
    border-radius: 4px;
    border: 1px solid #AAAAAA;
}

