#stadium{
    height: 730px;
}

img{
   
    cursor: pointer;
    vertical-align: middle;
}

.Division{
    float:left;
    margin-left: 20px;
}

h1{
    text-align: center;

}

h3{
    text-align: center;
}

#field{ 
    position:absolute;
    top:180px;
    left:500px;
    height:350px;
    width:350px;
    border-radius:1% 100% 1% 1%;
    border:1px solid green;
    background-color:green;
   -webkit-transform: rotate(-45deg);
}
#in-field{ 
    position:absolute;
    top:300px;
    left:561px;
    height:225px;
    width:225px;
    border-radius:1% 50% 1% 1%;
    border:1px solid: #836539; /*#9b7653; */
    background-color:#836539; /*#9b7653;*/
   -webkit-transform: rotate(-45deg);
}
#base-lines{
    position:absolute;
    top: 151px;
    left: 506px;
    height:335px;
    width:335px;
    border-left:2px solid white;
    border-bottom:2px solid white;
    -webkit-transform: rotate(-45deg);
}
#in-field-grass{
    position:absolute;
    top: 379px;
    left: 607px;
    height:130px;
    width:130px;
    border:2px solid green;
    background-color:green;
    -webkit-transform: rotate(-45deg);
}
.base{
    position:absolute;
    height:13px;
    width:13px;
    -webkit-transform: rotate(-45deg);
    border:1px solid white;
    background-color:white;
}

.circle{
    position:absolute;
    border-radius:100% 100% 100% 100%;
    

}

.circle:hover{
    cursor: pointer;
}

.base:hover{
    cursor: pointer;
}
#first-base{
    top:424px;
    left:782px;

}

#second-base{
    top:319px;
    left:666px;
}

#shortstop{
    top:350px;
    left:590px;
    border-radius:100% 100% 100% 100%;

}

#on-deck{
    height:40px;
    width:40px;
    
    top:660px;
    left:575px;

    border:1px solid #836539;
    background-color:#836539;
}

#third-base{
    top:424px;
    left:554px;
}
#home-plate{
    position:absolute;
    height:9px;
    width:10px;
    top:559px;
    left:668px;
    border:1px solid white;
    background-color:white;
     -webkit-transform: rotate(55deg);
}


#outfield{
    top:266px;
    left:666px;
    border-radius:100% 100% 100% 100%;

}
#pitchers-mound{ 
    position:absolute;
    top:420px;
    left:647px;
    height:50px;
    width:50px;
    border-radius:100% 100% 100% 100%;
    -webkit-transform: rotate(-45deg);
     border:1px solid #836539;
    background-color:#836539;
}
#pitchers-plate{ 
    position:absolute;
    top:443px;
    left:664px;
    height:5px;
    width:16px;
    border:1px solid white;
    background-color:white;
}

#pitchers-plate:hover{

    cursor: pointer;
}

.batters-box{
    position:absolute;
    height:15px;
    width: 5px;
    border:2px solid white;
    background-color:#836539;
    outline: 2px solid #836539;
}
#batters-box-right{
    top:555px;
    left:683px;
}
#batters-box-left{
    top:555px;
    left:655px;
}

#batting-circle{ 
    position:absolute;
    top:540px;
    left:649px;
    height:52px;
    width:52px;
    border-radius:100% 100% 100% 100%;
   -webkit-transform: rotate(-45deg);
     border:1px solid #836539;
    background-color:#836539;
}

#on-deck{
    position:absolute;
    top:542px;
    left:721px;
    height:40px;
    width:40px;
    border-radius:100% 100% 100% 100%;
    border:1px solid #836539;
    background-color:#836539;
}


.grass{
     background-color: #ac0;
   
}

