/*sets height of the stadium viz */
#stadium{
    height: 303px;
}

div#trends {
    width: 48%;
    height: 270px;
    float: left;
}
div#trendsPicker {
    width: 4%;
    height: 270px;
    float:left
}
div#bars {
    margin-left: 54%;
    height: 270px;
}

/* makes all pictures on hover switch to the pointer cursor so users know the image is clickable also aligns them in the middle */
img{
   
    cursor: pointer;
    vertical-align: middle;
}
/*logo isn't clickable but is an image so overwrite above property so user doesn't think it is clickable */
#logo{
    cursor: default;
}

/* makes checkmarks in the player list switch the cursor to pointer so user knows it is clickable */
.glyphicon{
    cursor: pointer;
}

/* makes outfield and shortstop circle switch the cursor to pointer so user knows it is clickable */

.circle:hover{
    cursor: pointer;
}

/* makes hovering over bases switch the cursor to pointer so user knows it is clickable */

.base:hover{
    cursor: pointer;
}

/* makes hovering over pitcher plate switch the cursor to pointer so user knows it is clickable */

#pitchers-plate:hover{

    cursor: pointer;
}

/* makes hovering over the pitcher's mound switch the cursor to pointer so user knows it is clickable */


#pitchers-mound:hover{
    cursor: pointer;
}

/*Makes the div containing the headers wit the league names expand to take up the whole screen */

#Teams{

    width:100%;
}

/*Places the American League header all the way on the right of the #Teams div and gives it 17% of the screen */


#AmericanLeague{
    float:right;
    width:17%;
}

/*Places the National League header all the way on the left of the #Teams div and gives it 17% of the screen */

#NationalLeague{

    float:left;
    width:17%;
}

/*Places the All team header in the middle of the #Teams div with 11% of the screen*/

#AllTeams{
    margin:0 auto;width:11%;
}

/*This makes columns of divisions start on the left side of the National League div  */

.NLDivision{
    float: left;
}

/* This makes the columns of divisions start on the right side of the American League div */


.ALDivision{
    float:right;
}

/* This gives some buffer space on the left and right of teh Central div column so as to space out the images better */


#Central{
    margin-left: 10px;
    margin-right: 10px;
}


/* This centers the headers within the div*/

h2{
    text-align: center;

}

/*This centers the headers within the div */

h5{
    text-align: center;
}


/*Draws the outfield code was imported with changes made to: top, left, height, and width */

#field{ 
    position:absolute;
    top:52px;
    left:326px;
    height:350px;
    width:350px;
    border-radius:1% 100% 1% 1%;
    border:1px solid green;
    background-color:green;
   -webkit-transform: rotate(-45deg);
}

/*Draws the infield code was imported with changes made to: top, left, height, and width */
#in-field{ 
    position:absolute;
    top:172px;
    left:387px;
    height:225px;
    width:225px;
    border-radius:1% 50% 1% 1%;
    border:1px solid: #836539; 
    background-color:#836539; 
   -webkit-transform: rotate(-45deg);
}

/*Draws the baselines code was imported with changes made to: top, left, height, and width */

#base-lines{
    position:absolute;
    top: 23px;
    left: 332px;
    height:335px;
    width:335px;
    border-left:2px solid white;
    border-bottom:2px solid white;
    -webkit-transform: rotate(-45deg);
}

/*Draws the infield grass code was imported with changes made to: top, left, height, and width */
#in-field-grass{
    position:absolute;
    top: 251px;
    left: 433px;
    height:130px;
    width:130px;
    border:2px solid green;
    background-color:green;
    -webkit-transform: rotate(-45deg);
}

/*Sets the rules for bases code was imported with changes made to: height, and width */
.base{
    position:absolute;
    height:13px;
    width:13px;
    -webkit-transform: rotate(-45deg);
    border:1px solid white;
    background-color:white;
}

/*Sets the rules for circles custom made */

.circle{
    position:absolute;
    border-radius:100% 100% 100% 100%;
    

}

/*Draws the first base code was imported with changes made to: top and left*/
#first-base{
    top:296px;
    left:608px;

}

/*Draws the second base code was imported with changes made to: top and left*/

#second-base{
    top:191px;
    left:492px;
}

#shortstop{
    top:222px;
    left:416px;
    border-radius:100% 100% 100% 100%;

}

/*Draws the third base code was imported with changes made to: top and left*/

#third-base{
    top:296px;
    left:380px;
}

/*Draws home plate code was imported with changes made to: hieght, width, top and left*/
#home-plate{
    position:absolute;
    height:9px;
    width:10px;
    top:431px;
    left:494px;
    border:1px solid white;
    background-color:white;
     -webkit-transform: rotate(45deg);
}

/*Draws the outfield code was imported with changes made to: top and left*/
#outfield{
    top:138px;
    left:492px;
    border-radius:100% 100% 100% 100%;

}

/*Draws the pitchers mound code was imported with changes made to: height, width, top and left*/
#pitchers-mound{ 
    position:absolute;
    top:292px;
    left:473px;
    height:50px;
    width:50px;
    border-radius:100% 100% 100% 100%;
    -webkit-transform: rotate(-45deg);
     border:1px solid #836539;
    background-color:#836539;
}

/*Draws the pitchers plate code was imported with changes made to: top and left*/
#pitchers-plate{ 
    position:absolute;
    top:315px;
    left:490px;
    height:5px;
    width:16px;
    border:1px solid white;
    background-color:white;
}

/*Sets the rules for the batters box code was imported with changes made to: height width top and left*/
.batters-box{
    position:absolute;
    height:15px;
    width: 5px;
    border:2px solid white;
    background-color:#836539;
    outline: 2px solid #836539;
}

/*Draws the right batter box code was imported with changes made to: top and left*/
#batters-box-right{
    top:427px;
    left:509px;
}

/*Draws the left batters box code was imported with changes made to: top and left*/
#batters-box-left{
    top:427px;
    left:481px;
}

/*Draws the circle that home plate and batters box is on code was imported with changes made to: height width top and left*/
#batting-circle{ 
    position:absolute;
    top:412px;
    left:475px;
    height:52px;
    width:52px;
    border-radius:100% 100% 100% 100%;
   -webkit-transform: rotate(-45deg);
     border:1px solid #836539;
    background-color:#836539;
}

/*colors in the grass */
.grass{
     background-color: #ac0;
   
}

#viewport{
    position: relative;
    overflow: auto;
    top: 20px;
    left: 600px;
    width: 280px;
    height: 280px;
    border-radius: 4px;
    border: 1px solid #AAAAAA;
}

